TARGET="https://www.example.com" # Specifies the target website that will be cloned or proxied.
WEBSITE_HOST="http://localhost:3000" # Indicates the domain of the running website, which is used for proxying purposes.
ANALYTICS="UTM-000-000" # Modifies the existing analytics code of the target to include the specified UTM code.
JS="alert('Hello Global');" # Represents raw JavaScript code to be injected into the page without the <script> tags.
CSS=".global{color:pink}" # Represents raw CSS code to be injected into the page without the <style> tags.
REPLACE="{'search1':'replace1','search2':'replace2'}" # Defines a list of text to search for and replace within the target.
AFFILIATE_KEY="id" # Refers to the key used in the affiliate URL, e.g., https://www.tld/home?page=1&{id}=your-affiliate-id (Only the Key)
AFFILIATE_VALUE="your-affiliate-id" # Refers to the value associated with the affiliate key in the URL, e.g., https://www.tld/home?page=1&id={your-affiliate-id} (Only the Value)
MODS="base,protect,spin,struct" # Available modifications that can be applied: base, protect, spin, struct.
CACHE=false# !! Work-in-progress: Static fie cache, controls whether the target domain's static resources are cached locally. If disabled, static resources are not cached and are instead proxied from the target domain.
SUBS=true# Controls whether the target domain's subdomains are rewritten as subdirectories. If disabled, target subdomains are ignored and not redirected through the proxy (typically for cookieless domains like image CDNs).